
.icon-home:before { content: '\e800'; } /* '' */
.icon-down-circled2:before { content: '\e801'; } /* '' */
.icon-down-open:before { content: '\e802'; } /* '' */
.icon-battery:before { content: '\e803'; } /* '' */
.icon-up-open:before { content: '\e804'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-fighter-jet:before { content: '\f0fb'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-bicycle:before { content: '\f206'; } /* '' */